{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<p style="text-align: center;">
<a href="all_products" class="btn btn-secondary" style="font-size: 16pt;">All products</a>
{% if current_user.is_authenticated %}
    <a href="products" class="btn btn-secondary" style="font-size: 16pt;">Set sell order</a>
    <a href="my_products" class="btn btn-secondary" style="font-size: 16pt;">See your products</a>
{% endif %}
</p>
<h1 style="text-align: center;">Recently added products</h1>
{% for product in products%}
<div class="col-md6 border rounded">
    <h2>{{product.name}}</h2>
    <div class="tml">
        Seller: {{product.seller.name}}
    </div>
    <div class="tml">
        Price: {{product.price}}
    </div>
    {%if current_user.is_authenticated%}
    {%if product.seller_id != current_user.id and product.in_stock%}
    <a href="/buy_product/{{product.id}}" class="btn btn-success">Buy</a>
    {%endif%}
    {%endif%}
    {%if img_names[loop.index0] != "default"%}
    <img src="../static/images/products/{{img_names[loop.index0]}}.png" class="photo">
    {%endif%}
    {%if not product.in_stock%}
    <div class="tml">Product is out of stock</div>
    {%else%}
    {%if product.count > 1%}
    <div class="tml">There are {{product.count}} products in stock</div>
    {%else%}
    <div class="tml">There is only 1 product in stock</div>
    {%endif%}
    {%endif%}
</div>
{% endfor %}
{% endblock %}