{%extends "base.html"%}
{%block content%}
<link rel="stylesheet" type="text/css" href="../static/css/product.css">
<h1>{{paragraph_title}}</h1>
{%if product != None%}
<img src="../static/images/products/{%if not img_default%}{{product.id}}{%else%}default{%endif%}.png" class="photo">
<form method="post" enctype="multipart/form-data" style="text-align: center;">
	<div>
		<label for="photo">Load photo</label>
		<input type="file" name="photo" id="photo">
	</div>
	<button type="submit" class="btn" style="background-color: salmon;">Load</button>
</form>
{%endif%}
<form action="" method="post">
	{{form.hidden_tag()}}
	<p>
		{{form.name.label}}	<br>
		{{form.name(class="form-control")}}<br>
		{%for error in form.name.errors%}
			<p class="alert alert-danger" role="alert">
				{{error}}
			</p>
		{%endfor%}
	</p>
	<p>
		{{form.price.label}}<br>
		{{form.price(class="form-control", min="1")}}<br>
		{%for error in form.price.errors%}
			<p class="alert alert-danger" role="alert">
				{{error}}
			</p>
		{%endfor%}
	</p>
	<p>
		{{form.count.label}}<br>
		{{form.count(class="form-control", min="1")}}<br>
		{%for error in form.count.errors%}
			<p class="alert alert-danger" role="alert">
				{{error}}
			</p>
		{%endfor%}
	</p>
	{%if product != None%}
	<form action="" method="post">
	<p>
		{%for tag in tags%}
		<input style="display: inline-block; background-color: lightgray;" class="btn" name="action" value=" ✖ {{tag.name}}" type="submit">
		{%endfor%}
	</p>	
	</form>
	<form action="" method="post">
		{{tag_form.hidden_tag()}}
		<p>
		{{tag_form.tag_name.label}}<br>
		{{tag_form.tag_name(class="form-control")}}
		</p>
		<p>
		{{tag_form.submit(class="btn", style="background-color: lightgreen;")}}
		</p>
	</form>
	{%endif%}
	<p>
		{{form.submit(class="btn btn-primary", type="submit")}}
	</p>
</form>
{%endblock%}